 
     *{  
        margin: 0;  
        padding: 0; 
        box-sizing: border-box; 
        
      } 

   

    video{    
          
          width: 50vw;  
          height: 50vh;  
          position: sticky; 
          top: 30px;  
          left: 299px;       
    }   
   
    .slider {       
      margin: 0 auto; 
      margin-left: 953px;
      width: 340px;   
      height: 340px;   
      overflow: hidden;  
        
        } 

        .slides {  
            width: 340%;  
            height: 340px;  
            display: flex;
  }
      
  .slides input {  
                  display: none;
                  }  
  
   .cad first {  
          width: 25%;  
          position: absolute;   
   }  

   .cad img { 
              width: 340px;  
              height: 340px;       
               
   }  
    
   .manual-navigation {  
                        position: absolute;  
                        width: 336px;  
                        margin-top: -20px;      
                        display: flex; 
                        justify-content: center;      
                      }
  
                         .manual-btn {  
                              border: 2px solid black;  
                              padding: 6px;  
                              border-radius: 10px;  
                              cursor: pointer;  
                              transition: 1s;  
                }
         
                .manual-btn:not(:last-child){   
                                              margin-right: 27px;  
                                              }
       
                .manual-btn:hover {  
                                    background-color: black;  
                                   }
          
                 #radio1:checked ~ .first{   
                                          margin-left: 0; 
                                          }  
      
                #radio2:checked ~ .first{   
                                         margin-left: -29.5%;
                                         }                               
                
                #radio3:checked ~ .first{  
                                         margin-left: -58.8%;  
                                          }  

                #radio4:checked ~ .first{   
                                         margin-left: -88%;              
                                         }

                #radio5:checked ~ .first{  
                                        margin-left: -117.7%;
                                         }

                #radio6:checked ~ .first{  
                                          margin-left: -147.1%;
                                           }
              
                #radio7:checked ~ .first{  
                                            margin-left: -176.5%;
                                             }  
                                              
                #radio8:checked ~ .first{  
                                              margin-left: -206%;
                                               }


             .slider1  {  
                        margin: 0 auto;  
                        width: 340px;  
                        height: 340px;    
                        overflow: hidden;   
                          }  

              .slides1 { 
                         width: 340%; 
                         height: 340px; 
                         display: flex;
                            }  

               .slides1 input{  
                       display: none;              
                             }                   

               .mov-par ninth {  
                               width: 25%;  
                               position: relative;  
                             } 

                .mov-par {  
                          width: 340px;  
                          height: 340px;  
                }  

                
